# Template notebook

It's good to start with an introduction, to set the scene and introduce your audience to the data, and the problem you're solving as a team.

<br>

## Libraries
As always, we'll start by importing the necessary libraries.

In [2]:
# Import Packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Question / Task 1**

Insert context about question / task 1 here.

In [3]:
# Read in the data for the hackathon

df = pd.read_csv('data/corona_tested_individuals_ver_006.english.csv')

#df = pd.read_csv("data/rental_data.csv")

/tmp/ipykernel_30/3549083806.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/corona_tested_individuals_ver_006.english.csv')

In [4]:
df.head()

,test_date,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age_60_and_above,gender,test_indication
0,2020-04-30,0.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
1,2020-04-30,1.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
2,2020-04-30,0.0,1.0,0.0,0.0,0.0,negative,NaN,male,Other
3,2020-04-30,1.0,0.0,0.0,0.0,0.0,negative,NaN,female,Other
4,2020-04-30,1.0,0.0,0.0,0.0,0.0,negative,NaN,male,Other

In [7]:
#define a function to summarise columns for a given dataframe:

def summarise_columns(input_df):
    df_summary = pd.DataFrame(input_df.isnull().sum(),columns = ['null_count'])
    df_summary['null_proportion'] = df_summary['null_count']/len(input_df)
    df_summary['count_unique'] = input_df.nunique()
    df_summary['data_type'] = input_df.dtypes
    return df_summary

#define a function to show different values for each column

def value_counts_summary(input_df,factor_name,sort_index = False, max_levels = 1000):
    #create 
    summary_df = pd.DataFrame(columns = ['count','proportion','cumul_proportion'])

    if sort_index:
        summary_df['count'] = input_df[factor_name].value_counts().sort_index()
    else:
        summary_df['count'] = input_df[factor_name].value_counts()

    summary_df['proportion'] = summary_df['count']/len(input_df)
    summary_df['cumul_proportion'] = summary_df['proportion'].cumsum()
    summary_df.reset_index(inplace= True)
    return summary_df[:min(max_levels,len(summary_df))]

In [8]:
value_counts_summary(df,'age_60_and_above')

  age_60_and_above   count  proportion  cumul_proportion
0               No  125703    0.450794          0.450794
1              Yes   25825    0.092613          0.543407

In [9]:
summarise_columns(df)

                     null_count  null_proportion  count_unique data_type
test_date                     0         0.000000            51    object
cough                       252         0.000904             2   float64
fever                       252         0.000904             2   float64
sore_throat                   1         0.000004             2   float64
shortness_of_breath           1         0.000004             2   float64
head_ache                     1         0.000004             2   float64
corona_result                 0         0.000000             3    object
age_60_and_above         127320         0.456593             2    object
gender                    19563         0.070157             2    object
test_indication               0         0.000000             3    object

In [11]:
#look at time period for test_date
#noticed that this spans a longer tie period than in paper (22nd March to 7th April)

value_counts_summary(df,'test_date', sort_index = True)

     test_date  count  proportion  cumul_proportion
0   2020-03-11    294    0.001054          0.001054
1   2020-03-12    634    0.002274          0.003328
2   2020-03-13    686    0.002460          0.005788
3   2020-03-14    609    0.002184          0.007972
4   2020-03-15    985    0.003532          0.011504
5   2020-03-16   1304    0.004676          0.016181
6   2020-03-17   1463    0.005247          0.021427
7   2020-03-18   1991    0.007140          0.028568
8   2020-03-19   2243    0.008044          0.036611
9   2020-03-20   1870    0.006706          0.043318
10  2020-03-21   1648    0.005910          0.049228
11  2020-03-22   3565    0.012785          0.062012
12  2020-03-23   3494    0.012530          0.074542
13  2020-03-24   4735    0.016981          0.091523
14  2020-03-25   5495    0.019706          0.111229
15  2020-03-26   6663    0.023895          0.135124
16  2020-03-27   5963    0.021384          0.156508
17  2020-03-28   5602    0.020090          0.176598
18  2020-03-29   5277    0.018924          0.195522
19  2020-03-30   5915    0.021212          0.216735
20  2020-03-31   7134    0.025584          0.242318
21  2020-04-01   8654    0.031035          0.273353
22  2020-04-02   8188    0.029364          0.302717
23  2020-04-03   8079    0.028973          0.331690
24  2020-04-04   5145    0.018451          0.350141
25  2020-04-05   7509    0.026929          0.377069
26  2020-04-06   5368    0.019251          0.396320
27  2020-04-07   5931    0.021270          0.417590
28  2020-04-08   4058    0.014553          0.432142
29  2020-04-09   4539    0.016278          0.448420
30  2020-04-10   5678    0.020362          0.468782
31  2020-04-11   4341    0.015568          0.484350
32  2020-04-12   5984    0.021460          0.505810
33  2020-04-13   8425    0.030214          0.536023
34  2020-04-14   6571    0.023565          0.559588
35  2020-04-15   7149    0.025638          0.585226
36  2020-04-16   9138    0.032771          0.617996
37  2020-04-17   7645    0.027416          0.645413
38  2020-04-18   6321    0.022668          0.668081
39  2020-04-19  10199    0.036575          0.704656
40  2020-04-20  10921    0.039165          0.743821
41  2020-04-21   9624    0.034513          0.778334
42  2020-04-22   9646    0.034592          0.812927
43  2020-04-23   8744    0.031358          0.844284
44  2020-04-24   7028    0.025204          0.869488
45  2020-04-25   5052    0.018117          0.887605
46  2020-04-26   6131    0.021987          0.909592
47  2020-04-27   7304    0.026193          0.935786
48  2020-04-28   6334    0.022715          0.958501
49  2020-04-29   4259    0.015274          0.973774
50  2020-04-30   7313    0.026226          1.000000

In [12]:
#convert test date to datetime

df['test_date'] = pd.to_datetime(df['test_date'])

In [13]:
list_columns = df.columns.to_list()

In [16]:
for column in list_columns:
    print(column)
    print(value_counts_summary(df,column, sort_index = True))
    print('-'*20)

test_date
    test_date  count  proportion  cumul_proportion
0  2020-03-11    294    0.001054          0.001054
1  2020-03-12    634    0.002274          0.003328
2  2020-03-13    686    0.002460          0.005788
3  2020-03-14    609    0.002184          0.007972
4  2020-03-15    985    0.003532          0.011504
5  2020-03-16   1304    0.004676          0.016181
6  2020-03-17   1463    0.005247          0.021427
7  2020-03-18   1991    0.007140          0.028568
8  2020-03-19   2243    0.008044          0.036611
9  2020-03-20   1870    0.006706          0.043318
10 2020-03-21   1648    0.005910          0.049228
11 2020-03-22   3565    0.012785          0.062012
12 2020-03-23   3494    0.012530          0.074542
13 2020-03-24   4735    0.016981          0.091523
14 2020-03-25   5495    0.019706          0.111229
15 2020-03-26   6663    0.023895          0.135124
16 2020-03-27   5963    0.021384          0.156508
17 2020-03-28   5602    0.020090          0.176598
18 2020-03-29   5277    0.018924          0.195522
19 2020-03-30   5915    0.021212          0.216735
20 2020-03-31   7134    0.025584          0.242318
21 2020-04-01   8654    0.031035          0.273353
22 2020-04-02   8188    0.029364          0.302717
23 2020-04-03   8079    0.028973          0.331690
24 2020-04-04   5145    0.018451          0.350141
25 2020-04-05   7509    0.026929          0.377069
26 2020-04-06   5368    0.019251          0.396320
27 2020-04-07   5931    0.021270          0.417590
28 2020-04-08   4058    0.014553          0.432142
29 2020-04-09   4539    0.016278          0.448420
30 2020-04-10   5678    0.020362          0.468782
31 2020-04-11   4341    0.015568          0.484350
32 2020-04-12   5984    0.021460          0.505810
33 2020-04-13   8425    0.030214          0.536023
34 2020-04-14   6571    0.023565          0.559588
35 2020-04-15   7149    0.025638          0.585226
36 2020-04-16   9138    0.032771          0.617996
37 2020-04-17   7645    0.027416          0.645413
38 2020-04-18   6321    0.022668          0.668081
39 2020-04-19  10199    0.036575          0.704656
40 2020-04-20  10921    0.039165          0.743821
41 2020-04-21   9624    0.034513          0.778334
42 2020-04-22   9646    0.034592          0.812927
43 2020-04-23   8744    0.031358          0.844284
44 2020-04-24   7028    0.025204          0.869488
45 2020-04-25   5052    0.018117          0.887605
46 2020-04-26   6131    0.021987          0.909592
47 2020-04-27   7304    0.026193          0.935786
48 2020-04-28   6334    0.022715          0.958501
49 2020-04-29   4259    0.015274          0.973774
50 2020-04-30   7313    0.026226          1.000000
--------------------
cough
   cough   count  proportion  cumul_proportion
0    0.0  236368    0.847659          0.847659
1    1.0   42228    0.151437          0.999096
--------------------
fever
   fever   count  proportion  cumul_proportion
0    0.0  256844    0.921090          0.921090
1    1.0   21752    0.078007          0.999096
--------------------
sore_throat
   sore_throat   count  proportion  cumul_proportion
0          0.0  276921    0.993089          0.993089
1          1.0    1926    0.006907          0.999996
--------------------
shortness_of_breath
   shortness_of_breath   count  proportion  cumul_proportion
0                  0.0  277270    0.994341          0.994341
1                  1.0    1577    0.005655          0.999996
--------------------
head_ache
   head_ache   count  proportion  cumul_proportion
0        0.0  276433    0.991339          0.991339
1        1.0    2414    0.008657          0.999996
--------------------
corona_result
  corona_result   count  proportion  cumul_proportion
0      negative  260227    0.933222          0.933222
1         other    3892    0.013957          0.947179
2      positive   14729    0.052821          1.000000
--------------------
age_60_and_above
  age_60_and_above   count  proportion  cumul_proportion
0               No  125703    0.450794          0.450794
1              Yes   25825    0.092613          0.543407
--------------------
gender
   gender   count  proportion  cumul_proportion
0  female  130158    0.466770          0.466770
1    male  129127    0.463073          0.929843
--------------------
test_indication
          test_indication   count  proportion  cumul_proportion
0                  Abroad   25468    0.091333          0.091333
1  Contact with confirmed   10639    0.038153          0.129486
2                   Other  242741    0.870514          1.000000
--------------------

In [32]:
#create dataframes that match those used in the paper
df_paper_pre_train = df[df['test_date']<'2020-03-22']
df_paper_train = df[df['test_date'].between('2020-03-21','2020-03-31','right')]
df_paper_test = df[df['test_date'].between('2020-03-31','2020-04-07','right')]
df_paper_post_test = df[df['test_date']>'2020-04-07']

In [22]:
value_counts_summary(df_paper_test,'test_date',sort_index = True)

print(len(df_paper_test))

   test_date  count  proportion  cumul_proportion
0 2020-04-01   8654    0.177068          0.177068
1 2020-04-02   8188    0.167533          0.344600
2 2020-04-03   8079    0.165303          0.509903
3 2020-04-04   5145    0.105271          0.615174
4 2020-04-05   7509    0.153640          0.768814
5 2020-04-06   5368    0.109833          0.878647
6 2020-04-07   5931    0.121353          1.000000

In [28]:
print(f' shape of train-validation date range used in paper {df_paper_train.shape}')
print(f' shape of test date range used in paper {df_paper_test.shape}')

print('records in train-validation quoted in paper: 51831')
print('records in test quoted in paper: 47401')


print('sizes slightly different but could be due to a lter reevisoon of the dataset')

 shape of train-validation date range used in paper (53843, 10)
 shape of test date range used in paper (48874, 10)
records in train-validation quoted in paper: 51831
records in test quoted in paper: 47401
sizes slightly different but could be due to a lter reevisoon of the dataset

In [39]:
#summarise_columns

df_paper_pre_train['test_indication']

#summarise_columns(df_paper_pre_train)

265121                    Abroad
265122                     Other
265123                     Other
265124                     Other
265125                     Other
                   ...
278843                     Other
278844                     Other
278845    Contact with confirmed
278846                     Other
278847                     Other
Name: test_indication, Length: 13727, dtype: object

In [34]:
summarise_columns(df_paper_train)

                     null_count  null_proportion  count_unique       data_type
test_date                     0         0.000000            10  datetime64[ns]
cough                        16         0.000297             2         float64
fever                        17         0.000316             2         float64
sore_throat                   0         0.000000             2         float64
shortness_of_breath           0         0.000000             2         float64
head_ache                     0         0.000000             2         float64
corona_result                 0         0.000000             3          object
age_60_and_above              0         0.000000             2          object
gender                     1194         0.022176             2          object
test_indication               0         0.000000             3          object

In [35]:
summarise_columns(df_paper_test)

                     null_count  null_proportion  count_unique       data_type
test_date                     0         0.000000             7  datetime64[ns]
cough                       225         0.004604             2         float64
fever                       225         0.004604             2         float64
sore_throat                   0         0.000000             2         float64
shortness_of_breath           0         0.000000             2         float64
head_ache                     0         0.000000             2         float64
corona_result                 0         0.000000             3          object
age_60_and_above              0         0.000000             2          object
gender                     1068         0.021852             2          object
test_indication               0         0.000000             3          object

In [36]:
summarise_columns(df_paper_post_test)

                     null_count  null_proportion  count_unique       data_type
test_date                     0         0.000000            23  datetime64[ns]
cough                         0         0.000000             2         float64
fever                         0         0.000000             2         float64
sore_throat                   0         0.000000             2         float64
shortness_of_breath           0         0.000000             2         float64
head_ache                     0         0.000000             2         float64
corona_result                 0         0.000000             3          object
age_60_and_above         122808         0.756188             2          object
gender                     3574         0.022007             2          object
test_indication               0         0.000000             3          object

In [40]:
df['corona_result'].value_counts(normalize = True)

corona_result
negative    0.933222
positive    0.052821
other       0.013957
Name: proportion, dtype: float64

In [41]:
list_test_periods = [
df_paper_pre_train, 
df_paper_train, 
df_paper_test, 
df_paper_post_test
]

In [48]:
for period in list_test_periods:
    print(f'period from: {period.test_date.min()}')
    print(period['corona_result'].value_counts(normalize = True))
    print('-'*20)

period from: 2020-03-11 00:00:00
corona_result
negative    0.903766
positive    0.076710
other       0.019524
Name: proportion, dtype: float64
--------------------
period from: 2020-03-22 00:00:00
corona_result
negative    0.895660
positive    0.089055
other       0.015285
Name: proportion, dtype: float64
--------------------
period from: 2020-04-01 00:00:00
corona_result
negative    0.917072
positive    0.074498
other       0.008430
Name: proportion, dtype: float64
--------------------
period from: 2020-04-08 00:00:00
corona_result
negative    0.953025
positive    0.032265
other       0.014710
Name: proportion, dtype: float64
--------------------

In [50]:
def get_data(df,source = train_end = '2020-03-31',test_end = '2020-04-30'):#,train_start,test_start,test_end:
    if source == 'paper':
        df_trainvalidation = df[df['test_date'].between('2020-03-21','2020-03-31','right')]
        df_test = df[df['test_date'].between('2020-03-31','2020-04-07','right')]
    else:
        df_trainvalidation = df[df['test_date'].between('2020-03-21',train_end,'right')]
        df_test = df[df['test_date'].between(train_end,test_end,'right')]
    return df_trainvalidation,df_test

    
#    df_paper_pre_train = df[df['test_date']<'2020-03-22']
#df_paper_train = df[df['test_date'].between('2020-03-21','2020-03-31','right')]
#df_paper_test = df[df['test_date'].between('2020-03-31','2020-04-07','right')]
#df_paper_post_test = df[df['test_date']>'2020-04-07']

In [61]:
#use function to split dataset as per paper

df_train,df_test = get_data(df,source = 'paper')

In [62]:
value_counts_summary(df_train,'test_date',sort_index = True)

   test_date  count  proportion  cumul_proportion
0 2020-03-22   3565    0.066211          0.066211
1 2020-03-23   3494    0.064892          0.131103
2 2020-03-24   4735    0.087941          0.219044
3 2020-03-25   5495    0.102056          0.321100
4 2020-03-26   6663    0.123749          0.444849
5 2020-03-27   5963    0.110748          0.555597
6 2020-03-28   5602    0.104043          0.659640
7 2020-03-29   5277    0.098007          0.757647
8 2020-03-30   5915    0.109856          0.867504
9 2020-03-31   7134    0.132496          1.000000

In [63]:
value_counts_summary(df_test,'test_date',sort_index = True)

   test_date  count  proportion  cumul_proportion
0 2020-04-01   8654    0.177068          0.177068
1 2020-04-02   8188    0.167533          0.344600
2 2020-04-03   8079    0.165303          0.509903
3 2020-04-04   5145    0.105271          0.615174
4 2020-04-05   7509    0.153640          0.768814
5 2020-04-06   5368    0.109833          0.878647
6 2020-04-07   5931    0.121353          1.000000